flows.json
[{"id":"25b1f183.1f737e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e6904d69.49cd2","type":"ibmiot in","z":"25b1f183.1f737e","authentication":"apiKey","apiKey":"bde37223.aa461","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":80,"wires":[["acbbacac.402ea","e4fb68c2.f49578","c8924c38.73da1","d86e6432.1db378","26d19f1d.0c8fd","dfd0a53.461bc58","ae6afb18.01e718"]]},{"id":"acbbacac.402ea","type":"debug","z":"25b1f183.1f737e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":40,"wires":[]},{"id":"26d19f1d.0c8fd","type":"ui_gauge","z":"25b1f183.1f737e","name":"","group":"1295b016.07d81","order":2,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":100,"wires":[]},{"id":"e4fb68c2.f49578","type":"ui_gauge","z":"25b1f183.1f737e","name":"","group":"d65c39fb.d64348","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.Temperature}}","min":"20","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":160,"wires":[]},{"id":"ae6afb18.01e718","type":"cloudant out","z":"25b1f183.1f737e","name":"","cloudant":"","database":"iotdata","service":"node-red-gjdvx-2020--cloudant-1601471018183-44361","payonly":true,"operation":"insert","x":570,"y":60,"wires":[]},{"id":"c8924c38.73da1","type":"ui_gauge","z":"25b1f183.1f737e","name":"","group":"5a5d6f59.fcd8","order":3,"width":0,"height":0,"gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":220,"wires":[]},{"id":"d86e6432.1db378","type":"ui_gauge","z":"25b1f183.1f737e","name":"","group":"1295b016.07d81","order":3,"width":0,"height":0,"gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":"10","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":280,"wires":[]},{"id":"dfd0a53.461bc58","type":"ui_gauge","z":"25b1f183.1f737e","name":"","group":"1295b016.07d81","order":4,"width":"0","height":"0","gtype":"gage","title":"Age","label":"Years","format":"{{msg.payload.Age}}","min":"1","max":"110","colors":["#028802","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":340,"wires":[]},{"id":"ed8643f2.fa8e3","type":"ui_form","z":"25b1f183.1f737e","name":"","label":"","group":"70a07244.df55dc","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Systolic","value":"Systolic","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"Diastolic","type":"number","required":true,"rows":null},{"label":"Pulse","value":"Pulse","type":"number","required":true,"rows":null}],"formValue":{"Age":"","Temperature":"","Systolic":"","Diastolic":"","Pulse":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":50,"y":620,"wires":[["96df0f63.68f63","6cbcb630.5ed1a8"]]},{"id":"96df0f63.68f63","type":"debug","z":"25b1f183.1f737e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":700,"wires":[]},{"id":"6cbcb630.5ed1a8","type":"function","z":"25b1f183.1f737e","name":"pre-token","func":"global.set (\"Age\",msg.payload.Age);\nglobal.set (\"Temperature\",msg.payload.Temperature);\nglobal.set (\"Systolic\",msg.payload.Systolic);\nglobal.set (\"Diastolic\",msg.payload.Diastolic);\nglobal.set (\"Pulse\",msg.payload.Pulse);\nvar apikey=\"ns5bfHZlgv9o7UvQhMonYjapFWauRYLSGfGkYVAqIttV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":560,"wires":[["648d7a3b.694404"]]},{"id":"648d7a3b.694404","type":"http request","z":"25b1f183.1f737e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":604.000002861023,"wires":[["a7b5181b.2434c8","da0c7567.ef27d8"]]},{"id":"ce5dc38b.355fd","type":"inject","z":"25b1f183.1f737e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":460,"wires":[["6cbcb630.5ed1a8"]]},{"id":"a7b5181b.2434c8","type":"debug","z":"25b1f183.1f737e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":660,"wires":[]},{"id":"da0c7567.ef27d8","type":"function","z":"25b1f183.1f737e","name":"Pre Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"],\n\"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":556.0000021457672,"wires":[["68ef162b.439c58"]]},{"id":"68ef162b.439c58","type":"http request","z":"25b1f183.1f737e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/a5daa8f1-c94b-42f7-afa0-d5039470e651/predictions?version=2020-10-14","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":580,"wires":[["d04acec5.839ef","9a9fce44.d9f5c"]]},{"id":"d04acec5.839ef","type":"debug","z":"25b1f183.1f737e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":664.0000038146973,"wires":[]},{"id":"9a9fce44.d9f5c","type":"function","z":"25b1f183.1f737e","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":488.00000190734863,"wires":[["fd33916f.d035b","7f9c1030.e15dd"]]},{"id":"fd33916f.d035b","type":"debug","z":"25b1f183.1f737e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":447.0000057220459,"wires":[]},{"id":"7f9c1030.e15dd","type":"ui_text","z":"25b1f183.1f737e","group":"70a07244.df55dc","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":721.2000122070312,"wires":[]},{"id":"bde37223.aa461","type":"ibmiot","z":"","name":"Key","keepalive":"60","serverName":"01yduw.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1295b016.07d81","type":"ui_group","z":"","name":"Health Monitor","tab":"75a43569.8c6d8c","order":1,"disp":false,"width":"6","collapse":false},{"id":"d65c39fb.d64348","type":"ui_group","z":"","name":"Health Monitor","tab":"75a43569.8c6d8c","order":2,"disp":false,"width":"6","collapse":false},{"id":"5a5d6f59.fcd8","type":"ui_group","z":"","name":"Health Monitor","tab":"75a43569.8c6d8c","order":4,"disp":false,"width":"6","collapse":false},{"id":"70a07244.df55dc","type":"ui_group","z":"","name":"Remote Health Prediction","tab":"dd76241b.d939f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"75a43569.8c6d8c","type":"ui_tab","z":"","name":"Remote Health Care","icon":"dashboard","disabled":false,"hidden":false},{"id":"dd76241b.d939f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]